<div>
  <div class="title"><h2>{{title}}</h2></div>
  <div class="body"><p>{{blog}}</p></div>
  <div class="footer">{{username}} - {{Date}}</div>
  <form action="/api/leave-comment">
    <textarea id="comment" rows="4" cols="75">Have a comment?</textarea>
    <button type="submit" id="submitComment">Leave Comment</button>
  </form>
</div>