<h2>Welcome to your Dashboard {{data.username}}!</h2>
{{#each data.blogPost}}
{{> blogPosts}}
{{/each}}

<form>
  <input type="text" id="title" placeholder="Title">
  <textarea id="blogPost" rows="4" cols="60" placeholder="Your thoughts here!"></textarea>
  <button type="submit" id="postIt">Post It!</button>
</form>

<script src="/js/dashboard.js"></script>