<form>
  <div><label for="user">Username</label>
  <input type="text" id="user" name="user"></div>
  <div><label for="password">Password</label>
  <input type="text" id="password" name="password"></div>
  <input type="submit" id="loginSubmit">
</form>
<br>
<div class="center"><p>Don't Have an Account?</p>
<a href="/login/sign-up"><button>Sign Up</button></a></div>


<script src="/js/login.js"></script>