<p>You're so close. Create an account to leave your blot.</p>
<p>Sign Up below</p>
<form>
  <label for="user">Username</label>
  <input type="text" id="user" name="user">
  <label for="password">Password</label>
  <input type="text" id="password" name="password">
  <input type="submit" id="signUpSubmit">
</form>
<script src="/js/sign-up.js"></script>